$font-family: 'Ubuntu Mono', monospace;
$primary: #444;

* {
  box-sizing: border-box;
}

[v-cloak] {
  display: none !important;
}

::-webkit-scrollbar {
  color: white;
  width: 5px;
}

::-webkit-scrollbar-track {
  background: $primary;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 3px;
  cursor: pointer;
}

body {
  color: white;
  margin: 0;
  background: $primary;
  font-family: $font-family;
  font-size: 13px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 200px;
  height: 100vh;
}

.main {
  padding: 15px;
  overflow: auto;
}

.sidebar {
  overflow: auto;
  background: #444;
  padding: 15px;
  border-left: 1px dashed #ccc;
  
  .search-container {
    padding: 0;
    border: 0;
    
    input[type=text] {
      font-family: $font-family;
      display: block;
      width: 100%;
      border: 0;
      padding: 10px;
      margin-bottom: 5px;
      outline: none;
    }
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    
    li {
      padding: 10px;
      cursor: pointer;
      border: 1px solid transparent;
      position: relative;
      display: grid;
      grid-template-columns: auto auto;
      justify-content: space-between;
      
      &.active {
        background: #fc9e2c;
        border: 1px solid transparent !important;
      }
      
      &:hover {
        border: 1px solid white;
        
        .remove-note {
          display: block;
        }
      }
      
      .remove-note {
        display: none;
        color: white;
        width: 30px;
        text-align: center;
        
        &:before {
          content: "\2715";
          font-size: 10px;
        }
        
        &:hover {
          color: red;
        }
      }
    }
  }
}

#editor {
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  outline: none;
  resize: none;
  background: $primary;
  color: white;
}


.ql-container {
  font-family: $font-family;
  font-size: 17px;
  
  .ql-editor {
    padding: 0;
    
    &.ql-blank::before {
      left: 5px;
    }
  }
  
  .ql-tooltip {
    background: #555;
  }
  
  &:not(.ql-disabled) a::before {
    background: #555 !important;
  }
}

@media (max-device-width: 1024px) {
  .grid {
    display: block;

    .main {
      padding-right: 0;
    }
  }
  
  .sidebar {
    display: none;
  }
}
